* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    width: 380px;
    height: 100%;
    float: left;
}


header {

    background-color: #ededed;
    width: calc(100% - 380px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    float: left;
}

main {
    background-color: beige;
    padding: 50px 0 0 50px;
    width: calc(100% - 380px);
    height: calc(100% - 80px - 80px);
    float: left;
    overflow-y: auto;
}

footer {
    background-color: cornflowerblue;
    float: left;
    display: flex;
    height: 80px;
    width: calc(100% - 380px);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #DDDBD1 15vh, #D2DBDC 100% );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-base {
    width: calc(100vw - 20%);
    height: calc(100vh - 20%);
    background-color: lightyellow;
}

.my-profile {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
}

.foto-my-profile img {
    width: 70px;
    margin: 10px;
    cursor: pointer;
}

.icons i {
    font-size: 20px;
    margin-right: 10px;
    color: darkgray;
    cursor: pointer;
}

.notifications {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9de1fe;
}

.bell-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.bell-notifications i {
    color: #9de1fe;
    font-size: 20px;
    cursor: pointer;
}

.notifications-desktop p {
    text-decoration: underline;
    color: #919191;
    cursor: pointer;
}

.div-search {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    background-color: #f7f7f7;
}

input[type=text] {
    height: 30px;
    width: 270px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.contacts {
    height: calc(100vh - 215px);
    overflow-y: auto;
    background-color: #ffffff;
}

.single-contact {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.foto-profilo img {
    width: 60px;
    cursor: pointer;
}

.name {
    width: 190px;
}

.name p {
    color: lightgrey;
    cursor: pointer;
}

.orario a {
    color: lightgrey;
    text-decoration: none;
}

.last-access {
    display: flex;
    align-items: center;
}

.name-last-access p {
    color: darkgrey;
    cursor: pointer;
}

.div-icons {
    display: flex;
    align-items:center;
}

.enter-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}

.write-text input[type=text] {
    height: 40px;
    width: 600px;
    border-radius: 20px;
    font-size: 16px;
    text-align:left;
    cursor: pointer;
}

.icons-text {
    padding: 20px;
    font-size: 25px;
    color: #919191;
    cursor: pointer;
}
