* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    width: 350px;
    height: 100%;
    float: left;
}


 header {
    background-color: lightpink;
    opacity: 0.9;
    width: calc(100% - 350px);
    height: 80px;
    float: left;
    display: flex;
}

main {
    background-color: beige;
    padding: 50px 0 0 50px;
    width: calc(100% - 350px);
    height: calc(100% - 80px - 80px);
    float: left;
    overflow-y: auto;
}

footer {
    background-color: cornflowerblue;
    float: left;
    height: 80px;
    width: calc(100% - 350px);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #DDDBD1 15vh, #D2DBDC 100% );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-base {
    width: calc(100vw - 20%);
    height: calc(100vh - 20%);
    background-color: lightyellow;
}

.my-profile {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto-my-profile img {
    width: 50px;
    margin: 10px;
}

.my-profile .icons {
    font-size: 20px;
    margin-right: 20px;
    color: lightgray;
}

.notifications {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bell-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.bell-notifications i {
    color: aqua;
    font-size: 20px;
}

.notifications-desktop p {
    text-decoration: underline;
    color: lightgray;
}

.div-search {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
}

input[type=text] {
    height: 32px;
    width: 270px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.contacts {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.single-contact {
    height: 80px;
    width: 100%;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.foto-profilo {
    width: 100px;
    height: 100%;
}

.foto-profilo img {
    width: 60px;
}

.name p {
    color: lightgrey;
}

.orario a {
    color: lightgrey;
    text-decoration: none;
}
